
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* Primary-colors */
    --Blue: hsl(223, 87%, 63%);
    /* Secondary-colors */
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    /* Neutral-colors */
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
    /* Fonts */
    --Font-size: 20px;
    --Family: [Libre Franklin];
    --Weight1: 300;
    --Weight2:600;
    --Weight3:700;
}
.img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: var(--Gray);
    gap: 15px;
}

.Section-1 p {
    color: var(--Very-Dark-Blue);
}

.Section-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 20px;
    width: 100%;
}
.Section-2 input{
    background-color:white;
    color: var(--Pale-Blue);
    border-radius: 15px;
    padding: 5px 20px ;
    width: 25%;
    border: 2px solid var(--Pale-Blue);
}
.Section-2 button{
    background-color: var(--Blue);
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: 8%;
    font-size: 14px;
    border: none;
}
.Section-3{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.Section-3 img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.icon-holders {
    /* border: 2px solid black; */
    color: var(--Blue);
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}

.icon-holders a {
    border-radius: 12px;
    padding: 4px;
    text-decoration: none;
    color: var(--Blue);
    font-size: 20px;
}

.copy {
    font-size: 16px;
    color: var(--Gray);
    margin-top: 5px;
}




/* tablet potrait size */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Medium mobile phones */
@media (min-width: 480px) and (max-width: 767px) {
    
}

/* Mobile Devices */
@media (min-width: 320px) and (max-width: 479px) {
.img {
    padding-top: 100px;
}

.Section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
.Section-2{
    flex-direction: column;
    gap: 8px;
}
.Section-2 input {
    width: 230px;
}

.Section-2 button {
    width: 230px; 
}

.Section-3 img {
    width: 500px;
    padding-top: 20px;
    object-fit: cover;
}
}